/*CSS RESETS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESUME */
#resume {
	margin: 0 auto;
	width: 80%;
	max-width: 960px;
}

#resume h1, #resume h2, #resume h3, #resume h4 , #resume p, #resume li {
	font-family: "Open Sans", "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	line-height: 21px;
}

#resume h1 {
	color: #9E9E9E;
	letter-spacing: 2px;
}

#resume h1.name {
	color: #000;
	font-size: 28px;
	font-weight: 400;
	line-height: 42px;
}

#resume h2 {
	font-style: italic;
	letter-spacing: 0.5px;
}

#resume h3 {
	color: #9E9E9E;
	text-align: right;
}

#resume ul {
	list-style-type: disc;
	padding-left: 0;
	margin: 0 auto;
}

#resume .desc {
	margin-top: 21px;
}

#resume .floatleft {
	float: left;
}

#resume .floatright {
	float: right;
}

#resume b {
	font-weight: 600;
	letter-spacing: 0.5px;
}

#resume i {
	font-style: italic;
}

.blocktitle {
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #9E9E9E;
	margin: 0.5px;
	width: 100%;
}

.title {
	margin-top: 21px;
	margin-bottom: 42px;
}

.resumeblock {
	margin-bottom: 21px;
}

.smallcaps {
	text-transform: uppercase;
	font-size: smaller;
	letter-spacing: 1px;
}

.spacer {
	text-align: center;
	marin-top: 21px;
	margin-bottom: 21px;
}

/* Misc */

.clear {
	clear: both;
}

/* PRINT specific */

@media print {
	#resume h1, #resume h2, #resume h3, #resume h4 , #resume p, #resume li {
		font-family: "Open Sans", "Lucida Sans Unicode", sans-serif;
		font-size: 12px;
		line-height: 18px;
	}
	
	#resume {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	}
}
